<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '250px' }">
    <mat-toolbar color="warn">
      <span>Menu Items</span>
      <span class="spacer"> </span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item
        *ngFor="let item of sidebaritems"
        routerLinkActive="active-sidebar-item"
        [routerLink]="item.path"
        (click)="sidenav.toggle()"
      >
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.name }}</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <span class="text-white mx-auto">Biblioteca App</span>
  </mat-toolbar>
  <div class="container">
    <router-outlet />
  </div>
</mat-sidenav-container>
