<h1 class="text-center text-white">Listado de Prestamos en la biblioteca</h1>
<mat-divider></mat-divider>
<div class="p-3 border-3 shadow-sm">
  <div class="mat-elevation-z8">
    <div class="table-responsive">
      <table class="table table-primary">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">ISBN</th>
            <th scope="col">IdUsuario</th>
            <th scope="col">Fecha Prestamo</th>
            <th scope="col">Fecha Devolución</th>
            <th scope="col">Tipo de Usuario</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listadoPrestamos">
            <td>{{ item.id }}</td>
            <td>{{ item.isbn }}</td>
            <td>{{ item.identificacionUsuario }}</td>
            <td>{{ item.fechaPrestamo | date }}</td>
            <td>{{ item.fechaMaximaDevolucion | date }}</td>
            <td>{{ item.tipoUsuarioId }}</td>
            <td>
              <button
                mat-icon-button
                color="primary"
                (click)="hacerLog(item.id.toString())"
              >
                <mat-icon>visibility</mat-icon>
              </button>
              <button
                mat-icon-button
                color="warn"
                (click)="hacerLog(item.id.toString())"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
